  .layers-control {
    margin-bottom: 5px;
  }

  .control-button {
    font-size: 12px;
    padding: 7.5px 15px;
    margin-bottom: 5px;
    display: block;
    width: 100px;
    height: 30px;
  }

  .layers-menu {
    background-color: white;
    padding: 5px;
    margin-top: 2.5px;
  }

  .layer-option {
    cursor: pointer;
    padding: 2.5px;
    font-size: 0.8em;
  }
