  .layers-control {
    margin-bottom: 5px;
  }

  .layers-menu {
    background-color: white;
    padding: 5px;
    margin-top: 2.5px;
  }

  .layer-option {
    cursor: pointer;
    padding: 2.5px;
    font-size: 0.8em;
  }
